.communityCardContainer {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.communityCard {
  height: 180px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  box-shadow: -7px 10px 24px 0px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: -7px 10px 24px 0px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: -7px 10px 24px 0px rgba(0, 0, 0, 0.9);
}

.communityCardCountry {
  font-size: 24px;
  font-weight: 600;
}

.communityCard:hover {
  background: #05be71;
  color: #fff;
}
