.banner-1 {
  background-image: url("../../assets/img/TasniaApu.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  max-height: 524px;
  width: 834px;
}
