.upcomming {
  background: #f4f4f4;
  padding-top: 7rem;
  padding-bottom: 7rem;
  &__cards {
    display: flex;
    justify-content: space-between;

    &__item {
      margin-top: 5rem;
      width: 30%;

      &__month {
        font-size: 24px;
        font-weight: 500;
      }

      &__date {
        font-family: "Source Serif Pro", serif;
        font-size: 64px;
        line-height: 1.2;
        font-weight: 700;
      }

      &__title {
        font-family: "Source Serif Pro", serif;
        font-size: 26px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
          text-decoration-color: #05be71;
        }
      }

      &__icon {
        color: #05be71;
      }

      &__particularDate {
        margin-top: 1rem;
        line-height: 1.2;
        font-size: 20px;
      }

      &__media {
        margin-top: 8px;
        line-height: 1.2;
        font-size: 20px;
      }

      &__organization {
        margin-top: 8px;
        line-height: 1.2;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .upcomming {
    height: auto;

    &__cards {
      flex-direction: column;

      &__item {
        width: 100%;
        display: flex;
        justify-content: center;
        border: 1px solid gray;
        border-radius: 8px;
        padding: 2rem 0;
        box-shadow: 10px 10px 11px -5px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 11px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 11px -5px rgba(0, 0, 0, 0.75);
        &:hover {
          box-shadow: -1px 2px 8px 2px rgba(0, 0, 0, 0.53);
          -webkit-box-shadow: -1px 2px 8px 2px rgba(0, 0, 0, 0.53);
          -moz-box-shadow: -1px 2px 8px 2px rgba(0, 0, 0, 0.53);
        }

        &__month {
          font-size: 20px;
          text-align: center;
        }

        &__date {
          font-size: 48px;
          text-align: center;
        }

        &__title {
          font-size: 24px;
          text-align: center;
        }

        &__particularDate {
          font-size: 18px;
          text-align: center;
        }

        &__media {
          font-size: 18px;
          text-align: center;
        }

        &__organization {
          font-size: 18px;
          text-align: center;
        }
      }
    }
  }
}
